.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-btn {
  background-color: #00BFFF;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #00BFFF;
}

.footer-style {
  position: fixed;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
